.pagina {
  min-height: 100vh;
  background-color: #f8dce5;

  background-image: repeating-linear-gradient(
    90deg,
    #f8dce5 0px,
    #f8dce5 20px,
    #f3b8ca 20px,
    #f3b8ca 40px
  );

  padding: 50px 20px;
  text-align: center;
}

.pagina h1 {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 25px;

  background-color: #fffafa;
  border: 3px solid #222;

  font-family: Georgia, serif;
  font-style: italic;
  font-size: 42px;
}

.formulario {
  width: 90%;
  max-width: 700px;
  margin: 20px auto 0;
  padding: 20px;

  background-color: #fffafa;
  border-left: 3px solid #222;
  border-right: 3px solid #222;
  border-top: 3px solid #222;

  display: flex;
  gap: 10px;
}

.formulario input {
  flex: 1;
  padding: 12px;

  border: 2px solid #222;
  border-radius: 12px;
  background-color: white;
  

  font-size: 16px;
}

.formulario button {
  padding: 12px 20px;

  background-color: #f3b8ca;
  border: 2px solid #222;
  border-radius: 12px;

  font-weight: bold;
  cursor: pointer;
}

.lista-ideias {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;

  background-color: #fffafa;
  padding: 10px 20px;

  border-left: 3px solid #222;
  border-right: 3px solid #222;
}

.ideia {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 10px;
  padding: 14px;

  background-color: #f8dce5;
  border: 2px solid #222;
  border-radius: 12px;

  text-align: left;
}

.ideia span {
  flex: 1;
}

.feita {
  text-decoration: line-through;
  opacity: 0.6;
}

.botao-remover {
  background-color: #e99bb3;
  color: #222;

  border: none;
  border-radius: 8px;

  width: 30px;
  height: 30px;

  font-weight: bold;
  cursor: pointer;
}

.botao-remover:hover {
  background-color: #df7fa0;
}

.erro {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 8px 20px;

  background-color: #fffafa;
  color: #b54263;

  font-size: 14px;
  font-weight: bold;
}

footer {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 15px 20px;

  background-color: #fffafa;

  border-left: 3px solid #222;
  border-right: 3px solid #222;
  border-bottom: 3px solid #222;

  font-weight: bold;
  text-align: center;
}